.btn {
margin: 15px;
border: 2px solid black;
border-radius: 12px;
color: rgb(6, 6, 6);
padding: 10px;
}

.btnContainer {
display: flex;
justify-content: center;
}

.counterSpan {
margin-top: 20px;
}

h1 {
    text-align: center;
}

.divMoney > img {
    width: 100%;
}