.navigation {
  background-color: rgb(19, 25, 33);
  height: 135px;
  border: solid 20px rgb(35, 47, 62);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  list-style-type: none;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.link:hover {
  color: #febd68;
}

.link:global.active {
  text-decoration: underline;
}
